
.content {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 61rem;
    padding: 2rem;
    
}

 ul{
    display: flex;
    text-decoration: none;
}

ul li {
    margin: 0 1rem;
 
}

ul li a {
    text-decoration: none;
    font-size: medium;
    color: burlywood;
    letter-spacing: 0.1rem;
}

ul li a:hover,
ul li a.active {
    text-decoration: underline;
    color: #fab833;
}