
.content {
    display: flex;
    justify-content: center;
    margin: auto;
    max-width: 61rem;
    padding: 2rem;
    
}

 .list{
    display: flex;
    text-decoration: none;
}

.list li {
    margin: 0 1rem;
 
}

.list li a {
    text-decoration: none;
    font-size: medium;
    color: burlywood;
    letter-spacing: 0.1rem;
}

.list li a:hover,
.list li a.active {
    text-decoration: underline;
    color: #fab833;
}